/* 
Fonts:
- Inter
colors:
*/

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  color: black;
  font-family: "Inter";
  font-size: 130px;
  font-weight: 600;
  color: #8B2331;
  line-height: 0px;
}

h2 {
  color: black;
  font-family: "Inter";
  font-size: 80px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  color: white;
}

h3 {
  color: black;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
}

h4{
  color: black;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 600;
  line-height: 0px;
}

h5{
	color: black;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 0px;
}

p {
  color: black;
  font-family: "Inter";
  font-size: 17px;
  font-weight: normal;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.text-white{
	color: white !important;
}


.margin-100{
	margin-left: 100px;
}

/* Menu Navigation Layout*/

.nav-layout {
	display: grid;
	grid-template: 64px 84px / 1fr;
}

/*remove if logo background is not implemeted after*/
.logo-background{
	background-image: url(../images/Logo-Nav.png);
	background-repeat: no-repeat;
	z-index: 1;
}


.top-nav{
	background-color: #34111A;
	display: flex;
	justify-content: right;
	padding-top: 32px;
	padding-right: 100px;
	font-size: 15px;
	height: 64px;

}

.menu-list{
  display: flex;
  
}

.nav-link{
	margin-left: 40px;
	font-family: "Inter", sans-serif;
	color: white;
	list-style-type: none;
}

.nav-link :link{
	color: white;
}

.nav-link :visited{
	color: white;
}

.nav-link :hover{
	color: #D51F37;
	
}

nav.nav-layout{
	position: sticky;
	top:0;
}

.bottom-nav-layout{
	display: flex;
	flex-direction: row;
}

#bottom-nav-logo{
	background-color: #8B2331;
	padding-left: 40px;
}

.bottom-nav{
	background-color: #8B2331;
	justify-items: right;
	padding-top: 44px;
	font-size: 20px;
	flex:1;
	padding-right: 40px;
}

.mobile-hamburger{
	display: none;
}


/* Hero section layout */
.hero-columns{
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 50px;

}

.hero-background{
	background-image: url(../images/Hero-Img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 116px 54px 116px 0px;

}

.hero-message{
	grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(154,37,59, 0.5);
  border-radius: 25px;
  margin: 30px 54px 0px 300px;
 	padding: 40px;
 	row-gap: 10px;
}


.hero-link{
	font-family: "Inter";
	font-size: 20px;
	color: white !important;
}

.hero-link :link{
	color:white;
}

.hero-link :visited{
	color:white;
}

.hero-link :hover{
	color: #D51F37;
}

/*Explore MacEwan*/
.explore-columns{
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 156px;
	padding-bottom: 106px;
	padding-top: 106px;
	margin-left: 100px;
}

.space-between{
	padding-bottom: 10px;
}

.explore-message {
	margin-right: 80px;
	padding: 20px 84px 0px 0px;
	align-items: center;
}

.explore-message p{
	font-size: 22px;
	font-weight: 500;
}

.explore-link{
	font-family: "Inter";
	font-size: 25px;
	font-weight: 600;
	color: black;
}

.explore-link :link{
	color:black;
}

.explore-link :visited{
	color:black;
}

.explore-link :hover{
	color: #D51F37;
}


/*Information Section*/

.mobile-img-programs{
	display: none;
}

.mobile-img-news{
	display: none;
}

.info-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #9A253B;
	column-gap: 100px;
	padding: 105px 100px 105px 100px;
}

.round-img{
	border-radius: 25px;
}

.btn-text{
	color: white;
	font-size: 30px;
	font-family: "Inter";
	font-weight: 400;
}

.text-column{
	display: flex;
	flex-direction: column;
	row-gap: 23px;
}

.program-btn{
	background-color: #D51F37;
	width: 280px;
	height: 60px;
	border-radius: 25px;
	border-style: none;
}

.program-btn :hover{
	color: #34111A;
}


.info-columns-events{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #8B2331;
	column-gap: 100px;
	padding: 105px 100px 105px 100px;
}

.mobile-img-events{
	display: none;
}


.btn-style{
	background-color: #D51F37;
	width: 318px;
	height: 78px;
	border-radius: 25px;
	border-style: none;
}

.btn-style :hover{
	color: #34111A;
}

.btn-gap{
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

/*Start your application*/
.rectangle-border{
	margin: 80px 47px 173px 47px;
	border-style: solid;
	border-width: thick;
	border-color: #D51F37;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 0;
	justify-content: space-around;
	padding: 46px 0px 46px 0px;

}

.btn-style-1{
	background-color: #8B2331;
	width: 318px;
	height: 78px;
	border-radius: 25px;
	border-style: none;
	font-family: "Inter";
	color: white;
	font-size: 26px;
	font-weight: bold;
}

.btn-style-1 :hover{
	color: #D51F37;
}

.btn-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 46px;
}

/*More*/
.two-rows{
	display: flex;
	flex-direction: column;
	padding-right: 100px;
	padding-bottom: 100px;
	
}

.two-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 104px;
}

.flex-col{
	display: flex;
	flex-direction: column;
	justify-content: left;
}


.flex-col a :hover{
	color: #D51F37;
}




/*Footer*/
.four-columns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 52px 0px 52px 0px;
	padding-right: 90px;
	justify-items: left;
	

}

.info-logo{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.text-space p{
	display: flex;
	flex-direction: column;
	line-height: 5px;
}

.footer-links p{
	color: white;
}

.footer-links a :hover{
	color: #D51F37;
}

.footer-message p{
	color: white;
}

.quick-links-underline{
	font-size: 24px;
	font-weight: 600;
	border-bottom: solid;
	width: 167px;
	color: white;
	padding-bottom: 10px;
	
}

.quick-links li{
	font-family: "Inter";
	font-size: 20px;
	font-weight: 600;
	color: white;
	padding-bottom: 17px;
}

.quick-links a:link{
	color: white;
}

.quick-links a:visited{
	color: white;
}
.quick-links a:hover{
	color: #D51F37;
}


.social-links-underline{
	font-size: 24px;
	font-weight: 600;
	border-bottom: solid;
	width: 90px;
	color: white;
	padding-bottom: 10px;

}

.social-links li{
	padding-bottom: 11px;

}

.title-bold{
	font-size: 24px;
	font-weight: 600;
}

.center-items{
	justify-items: center;

}

/*Breakpoint for mobile*/

@media screen and (max-width: 768px) {  
	.nav-layout {
	display: grid;
	grid-template: auto / 1fr;
} /*needs work*/

	.hide-top-nav{
		display: none;
	}

	.hide-top-menu{
		display: none;
	}
	.mobile-hamburger{
		display: flex;
	}

	.hero-columns{
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 50px;
	}

	.hero-background{
		background-image: url(../images/Hero-Img.png);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
	  padding: 0px;
	  display: flex;
	  height: 400px;

	}

	.hide-text{
		display: none;
	}

	.explore-columns{
		display: grid;
		grid-template: auto / 1fr;
		margin-left: 32px;
		padding-top: 46px;
		padding-bottom: 46px;
		
	}
	.explore-columns h1{
		font-size: 50px;
	}
	
	.explore-message p{
		font-size: 15px;
		padding: 0px 25px 0px 0px;
	}

	.explore-link{
		font-size: 15px;
	}

	.info-columns{
		display: grid;
		grid-template-columns: 1fr;
		padding: 0px 0px 36px 0px;

	}

	.text-column{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: 0px;
		margin-left: 32px;
		padding-top: 30px;
	}

	.text-column h2{
		font-size: 40px;
	}

	.text-column p{
		font-size: 16px;
	}

	.btn-text{
		font-size: 18px;
	}
	.program-btn{
		width: 174px;
		height: 40px;
		border-radius: 10px;
	}

	.info-columns-events{
		display: grid;
		grid-template-columns: 1fr;
		padding: 0px 0px 36px 0px;
	}

	.mobile-img-events{
		display: flex;
	}
	.mobile-img-programs{
	display: flex;
	}

	.mobile-img-news{
	display: flex;
	}

	.hidden-img{
	display: none;
	}

	.btn-style{
		width: 174px;
		height: 40px;
		border-radius: 10px;
	}


	.rectangle-border{
		margin: 0px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 27px 21.5px 27px 21.5px;
		margin: 52px 0px 52px 0px;
	}
	.rectangle-border h3{
		font-size: 25px;
	}

	.btn-grid{
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 14px;
	}
	.btn-style-1{
		width: 260px;
		height: 44px;
		border-radius: 20px;
		font-size: 16px;
	}

	.margin-100{
		margin-left: 32px;
	}

	.margin-100 h1{
		font-size: 50px;
	}

	.two-rows h4{
		font-size: 25px;
	}
	.two-columns{
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 104px;
	}

	.two-columns h5{
		font-size: 20px;
	}

	.four-columns{
		display: grid;
		grid-template-columns: 1fr;
	}

	.center-items{
		justify-items: left;
	}

	 .social-links{
    display: flex;
    flex-direction: row;
    column-gap: 11px;
  }


}



